[submodule "user"]
	path = user
	url = git@github.com:xxx-newbee/user.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:xxx-newbee/gateway.git
[submodule "storage"]
	path = storage
	url = git@github.com:xxx-newbee/storage.git
[submodule "order"]
	path = order
	url = git@github.com:xxx-newbee/order.git
[submodule "chat"]
	path = chat
	url = git@github.com:xxx-newbee/chat.git
[submodule "front-end"]
	path = front-end
	url = git@github.com:xxx-newbee/front-end.git